<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.emrys919.movies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MoviesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_movie"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MovieListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.persistence.MovieProvider"
            android:authorities="io.github.emrys919.movies"
            android:exported="false" />

        <activity
            android:name=".activities.MovieDetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/MovieDetailTheme" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/MovieSearchTheme" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6fd5744392674d1f0c5b5fb5646a2d12cefcb964" />
    </application>

</manifest>